.box{
    width: 35%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    border: 2px solid black;
}
.head{
    text-align: center;
}
button{
    background-color: rgb(180, 176, 176);
}
p{
    /* color:rgb(3, 255, 24); */
    background-color: aqua;
} 
